@font-face {
	font-family: 'calibri2'; 
	src: url(/calibri.ttf); 
}

body{
padding:0;
margin:0;
font-family:calibri,calibri2,arial;
color:#000000;
background:#f1f1f1;
}


textarea, input, select{
font-family:calibri,calibri2,arial;
}

a{
text-decoration:none;
}

h1,h2,h3{
font-weight:normal;
padding:0;
margin:0;
}

.font0{
font-size:12px;
}

.font1{
font-size:14px;
}

.font11{
font-size:16px;
}


.font2{
font-size:18px;
}

.font3{
font-size:22px;
}

.font4{
font-size:28px;
}

.font4m{
padding-top:5px;
font-size:28px;
}

.font5{
font-size:32px;
}

.fontshadow1{
text-shadow: 1px 1px #404040, 1px -1px #404040, -1px 1px #404040, -1px -1px #404040, 3px 3px 6px rgba(0,0,0,.5);
}

.fontshadow2{
text-shadow: 1px 1px #f1f1f1, 1px -1px #f1f1f1, -1px 1px #f1f1f1, -1px -1px #f1f1f1, 3px 3px 6px rgba(255,255,255,.5);
}

.content1{
border:solid 1px #ccc;
background:#f1f1f1;
border-radius:5px;
}

.content2{
border:solid 1px #ccc;
background:#ffffff;
border-radius:5px;
}

.t10{
margin-top:10px;
}

.p0{
padding:0px;
}

.p5{
padding:5px;
}

.p10{
padding:10px;
}

.p20{
padding:20px;
}

.p20menu2{
padding:20px;
padding-left:10px;
padding-right:10px;
}

.p30{
padding:30px;
}

.p40{
padding:40px;
}

.p40calcul{
padding-right:20px;
}

.margin0{
margin:0;
}

.marginauto{
margin: 0 auto;
}

.margin10{
margin:10px;
}


.w100{
width:100%;
}

.wauto{
width:auto;
}

.error,.cirans{
	display:none;
}

.vuzlistlink{
width:100%;  
border-top:solid 1px #ccc;
background:#ffffff;
}

.vuzlistlink:hover{
background:#ECECEC;
}

.link1{
padding:10px; 
border: solid 1px #fff; 
border-radius:5px; 
color:white; 
border-radius:5px; 
margin-right:10px; 
margin-bottom:10px; 
float:left;
}

.link1:hover{
background:#f1f1f1;
color:black;
cursor:pointer;
}

.link2{
padding:10px; 
border: solid 1px #000000; 
border-radius:5px; 
color:black; 
border-radius:5px; 
margin: 0 auto;
margin-top:20px;
margin-bottom:0px;
}

.link2:hover{
background:#f1f1f1;
color:black;
cursor:pointer;
}


.link3{
padding:10px; 
border: solid 1px #ccc; 
border-radius:5px; 
color:black; 
border-radius:5px; 
margin-right:10px; 
margin-bottom:10px; 
float:left;
}

.link3:hover{
background:#f1f1f1;
color:black;
cursor:pointer;
}

.link4{
	width:100%;  
	border-top:solid 1px #ccc;
	background:#ffffff;
}

.link4:hover{
	background:#f1f1f1;
	width:100%;  
	border-top:solid 1px #ccc;
}


.loader1{
display:none;
}

.loader1 img{
width:60px; 
margin-bottom:10px;
}

.loader1 img{
width:60px; 
margin-bottom:10px;
}

.more{
background:#E0E0E0; 
margin-top:10px; 
border-radius:5px;
margin-bottom:10px;
}

.more img{
width:60px; 
margin-bottom:10px;
}

.reknotice{
	-webkit-writing-mode: 
	vertical-rl; 
	writing-mode:tb-rl; 
	padding:5px;
}


.header{
background:#ffffff;
}


.footer{
background:#E0E0E0;
background:none;
}




.header-in{
width:1400px;
margin: 0 auto;
}

.header-in2{
width:1380px;
margin: 0 auto;
}

.logo{
padding-top:40px; 
padding-left:10px; 
padding-bottom:30px;
width:300px;
}

.list{
display:none;
}




.headercontent{

border-radius:0px 0px 5px 5px;
}

.bg1{
background: linear-gradient(to left, #212934, #212934, #212934, #212934);
color:white;
}

.bg2{
color:black;
}


.maincontent{

width:1400px;
margin: 0 auto;
padding-top:10px;
position:relative;
min-height:820px;

}


.m270{
margin-right:270px;
}

.content{
width:100%;
padding-left:10px;

}


.advtd{
padding:10px;
padding-top:0px;
position:absolute;
right:0;
top:0;
}

.adv{
background:#ffffff;
width:240px;
height:400px;
margin-top:10px;
}



.dopheaderin{
width:260px;
}

.dopmobile1{
color:white;
padding-top:20px;
}

.dopmobile1 .img1 {
display:none;
}

.dopmobile1 .dop{
display:table-row;
}

.button1{
margin-top:20px;
margin-right:20px;
float:left;
padding:10px;
border:solid 1px #ccc;
background:#ffffff;
border-radius:5px;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.button1:hover{
background:#ECECEC;
cursor:pointer;
}

.button2{
margin-top:5px;
margin-bottom:5px;
margin-left:10px;
float:right;
padding:10px;
border:solid 1px #ccc;
background:#ffffff;
border-radius:5px;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.button3{
margin-top:20px;
margin-right:20px;
float:left;
padding:10px;
border:solid 1px #ccc;
background:#f1f1f1;
border-radius:5px;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
width:194px;
}

.button3 input{
padding:10px; 
border:solid 1px #ccc; 
border-radius:5px;
width:100%;
}

.egetd2{
padding-top:10px;
}




.img1{
margin-left:20px;
width:30px;
	    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; 
}

.img2{
margin-left:10px;
width:22px;
}

.img3{
margin-right:10px;
width:33px;

}

.img4{
margin-right:20px;
width:30px;
}

.img5{
margin:10px;
margin-right:0px;
width:33px;
}

.img6{
width:30px;
}

.img7{
	width:60px;
}


.close1{
width:30px; 
position:absolute; 
right:30px; 
top:30px;
}

.smile{
width:24px;
}

.check1{
width:20px;
}

.vuzlistgo{
text-align:right;
}

.go{
margin-left:20px;
width:30px;
}

.openimg{
	    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; 
}

.rotate{
 -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);   
}

.go2{
width:30px;
margin-top:-15px; 
background:#ffffff;
}

.question1{
width:30px; 
height:30px; 
padding:0px;
text-align:center;
border:solid 1px #cccccc;
color:black;
border-radius:300px;
position:relative;
}

.circ1{
border:solid 1px #cccccc;
background: linear-gradient(to left, #f1f1f1, #f1f1f1);
color:black;
border-radius:300px;
padding:10px;
position:relative;
margin: 0 auto;
width:50px;
height:50px;
text-align:center;
}

.circ2{
border:solid 1px #cccccc;
color:black;
border-radius:300px;
padding:10px;
position:relative;
width:55px;
height:55px;
text-align:center;
background:#ffffff;
}

.circ3{
border:solid 0px #cccccc;
color:black;
background:rgba(255,255,255,0.6);
border-radius:300px;
padding:10px;
position:relative;
text-align:center;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.circ3 img{
width:22px;
}

.circ3:hover{
background:rgba(255,255,255,1);
cursor:pointer;
}


.circ4{
border:solid 1px #cccccc;
color:white;
background:#212934;
border-radius:300px;
padding:10px;
position:relative;
width:60px; 
height:60px;
text-align:center;
margin: 0 auto;
}


.cirfloat{
float:left;
margin-right:10px;
margin-top:5px;
margin-bottom:5px;
}

.cirfloat2{
float:right;
margin-left:10px;
margin-top:5px;
margin-bottom:5px;
}


.cirfloatmargin{
margin-right:5px;
margin-left:5px;
}


.dopinfo{
display:none;
position: absolute;
    left: 50%; 
    transform: translate(-50%, 0%);
	width:300px;
	z-index:2;
}

.dopinfocirc3{
padding-right:10px;
display:none;
}


.circ3:hover .dopinfocirc3{
display:table-cell;
}

.cirfloat:hover .dopinfo{
display:block;
}

.cirfloat:hover .cirfloathide{
opacity:0;
}



.cirfloat:hover .circ2{
background:#212934; 
border:solid 1px #212934; 
color:white;
}

.cirfloat:hover .question1{
background:#212934; 
border:solid 1px #212934; 
color:white;
}

.dopinfodiv{
background:#212934; 
color:white; 
border-radius:5px; 
box-shadow: 0 0 10px rgba(0,0,0,0.5);
margin: 0 auto;
}





.arrow1{
 content: '';
  border-left: 12px solid #ccc;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  margin-left:-5px;
}

.arrow2{
 content: '';
  border-left: 20px solid transparent;
  border-top: 20px solid #212934;
  border-right: 20px solid transparent;
  margin: 0 auto;
}

.arrow3{
 content: '';
  border-left: 15px solid transparent;
  border-bottom: 15px solid #212934;
  border-right: 15px solid transparent;
  margin: 0 auto;
  
}


.arrow4{
 content: '';
  border-left: 20px solid transparent;
  border-top: 20px solid #404040;
  border-right: 20px solid transparent;
  margin: 0 auto;
  position: absolute; 
    left: 50%; 
	bottom:-19px;
    transform: translate(-50%, 0%);
	z-index:9999;

}


.arrow5{
 content: '';
  border-left: 12px solid #ccc;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  margin-left:-5px;
}

.arrow6{
 content: '';
  border-left: 20px solid transparent;
  border-top: 20px solid #404040;
  border-right: 20px solid transparent;
  position: absolute; 
  left: 190px; 
}



.menuobram,.menuobram2{
padding:10px;
padding-bottom:0px; 
padding-right:0;
}

.menuobram2{
padding-top:0px; 
}

.menu,.menu2{
display:table;
width:100%; 
text-align:center; 
color:black; 
background:#FFFFFF; 
border-radius:5px 5px 0px 0px;
}

.menu{
border:solid 1px #ccc;
border-bottom:none;
}

.menu2{
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.menutr,.menutr2{
display:table-row;
}

.menubutton,.menubutton2{
display:table-cell;
width:20%;
vertical-align:middle;
position:relative; 
border-right:solid 1px #cccccc;
}
.menubutton2{
width:16%;
}


.menubuttonin,.menubuttonin2{
width:100%;
color:black;
text-align:center;
}

.menubuttonactive,.menubuttonactive2{
background:#404040; 
}

.menubuttoninmob{
display:none;
}

.menubutton:hover{
background:#ECECEC;
}

.menubutton2:hover{
background:#ECECEC;
}

.menubutton:hover .menubuttonin{
color:black;
}

.menubutton2:hover .menubuttonin2{
color:black;
}

.menubuttonactive .menubuttonin{
color:white;
}

.menubuttonactive2 .menubuttonin2{
color:white;
}


.menubuttonactive:hover .menubuttonin{
color:white;
}

.menubuttonactive2:hover .menubuttonin2{
color:white;
}

.menubuttonactive:hover{
background:#404040; 
}

.menubuttonactive2:hover{
background:#404040; 
}




.menubuttonleft{
border-radius:5px 0px 0px 0px; 
}

.menubuttonright{
border-radius:0px 5px 0px 0px; 
}







.onoff{
margin-left:10px;
background:#f1f1f1; 
border-radius:10px;
height:15px; 
width:50px;
cursor:pointer;
float:right;
border:solid 1px #ccc;
}

.cir{
background:#ccc; 
border-radius:25px; 
height:25px; 
width:25px; 
margin-top:-5px; 
margin-left:3px;
position:absolute;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}


.on{
background:#404040;
margin-left:22px;
}

.search{
margin: 0px;
border:solid 1px #ccc;
padding:10px;
width:100%;
font-size:16px;
background:url(../img/bgforselect.png);
}

.searchtable{
border-radius:5px;
width:100%; 
background:#ffffff; 
margin-top:10px;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.searchtable img{
padding-left:10px; 
padding-right:10px;
width:24px;
}

.vuzlist{
width:100%; 
border-top:solid 0px #ccc; 
margin-top:10px; 
border:solid 1px #ccc; 
background:#ffffff;
border-radius:5px;
}

.open{
display:none;
}

.dopvuzlist{
width:100%; 
background:#ffffff; 
border:solid 1px #ccc; 
margin-top:-4px; 
border-top:solid 0px #ccc; 
display:none;
}


.vuzlistlogo{
width:120px;
height:120px;
}

.vuzlistlogo2{
width:150px;
height:150px;
}

.vuzlistlogoin{
width:120px;
height:120px;
text-align:center;
border:solid 1px #ccc;
border-radius:200px;
overflow:hidden;
margin:0 auto;
}

.vuzlistlogoin2{
width:150px;
height:150px;
text-align:center;
border:solid 1px #ccc;
border-radius:200px;
overflow:hidden;
margin:0 auto;
background:#ffffff;
}

.vuzlistimg{
width:70px;
}

.vuzlistimg2{
width:100px;
}

.vuzlistcontent{
padding-left:20px;
width:100%;
}






.table-1, .table-2, .table-4{
display:table;
width:100%;
}

.table-row-1, .table-row-2, .table-row-4{
display:table-row;
}

.table-cell-1, .table-cell-2, .table-cell-4{
display:table-cell;
vertical-align:middle;
}


.table-cell-1-1{
width:850px;
padding-right:40px;
}


.table-cell-1-2{
vertical-align:middle;
}

.table-cell-2-w200{
padding-left:10px;
width:200px;
}


.table-3,.table-row-3,.table-cell-3{
display:block;
}


.cif{
float:right;
}

.p10cif{
padding:10px;
padding-left:0; 
padding-bottom:0px;
}

.ciftext{
text-align:left; 
color:white;  
width:100%; 
padding-left:10px;
}

.yesmobile1,.yesmobile2,.yesmobile3,.yesmobiletable{
display:none;
}


.dopinfo1{
float:left;
margin-right:10px;
margin-top:10px;
}



.specsh{
width:100%; 
text-align:left;
border-bottom:solid 1px #ccc;
}


.specsh:hover{
background:#ECECEC;
}

.specshnum{
color:#8D8D8D;
}

.specshactive{
background: #404040;
color:white;
}

.specshactive:hover{
background: #404040;
color:white;
}


.popup{
display:none; 
position:fixed; 
width:100%; 
height: 100%; 
z-index:9999;
background:rgba(0,0,0,0.7); 
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
}

.popupin{
position:absolute; 
top:5%; 
bottom:5%; 
width:100%;
}

.popupcontent{
position:relative; 
width:800px; 
margin:0 auto; 
max-height:100%; 
background:#ffffff;  
box-shadow: 0 0 20px rgba(0,0,0,0.5); 
border-radius:20px; 
overflow-y:scroll;   
-webkit-overflow-scrolling: touch;
}

#popupcontent7{
width:900px; 
margin:0 auto; 
}


.warning{
margin-top:10px;
margin-left:40px;
}

.paddright10m{
padding-right:10px;
}

.request{
border:solid 1px #ccc; 
border-radius:5px; 
background:#ffffff;
}

.request1{
border:solid 1px #ccc; 
border-radius:5px; 
background:#F3F8E7;
}

.request2{
border:solid 1px #ccc; 
border-radius:5px; 
background:#F8EBEB;
}

.request3{
border:solid 1px #ccc; 
border-radius:5px; 
background:#F8F3E1;
}


.like{
float:left;
margin-top:10px;
margin-right:10px;
border:solid 1px #ccc; 
border-radius:5px; 
background:none;
}

.doverieline{
width:100%;
margin-top:20px;
}

.doverie{
width:100%;
border:solid 1px #ccc; 
border-radius:5px; 
background:#F8EBEB;
}

.doverietd1{
border-right:solid 1px #ccc; 
min-width:180px;
border-radius:5px 0px 0px 5px;
width:50%;
		-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; 
}

.doverietd2{
background:#f1f1f1;
border-radius:0px 5px 5px 0px;
}

.like:hover{
cursor:pointer;
background:#ffffff;
}

.likeimg{
margin-left:10px;
margin-right:10px;
width:20px;
}


.mobpadd20-2{
padding-bottom:20px;
}	

.ocenkatable{
margin: 0 auto; 
margin-top:20px; 
width:auto;
}

.ocenka{
border-left:solid 1px #ccc; 
padding-left:20px;
}

.right10{
padding-right:10px;
}

.napravleniedop{
width:200px; 
padding-left:20px;
}

.napravlenietable{
display:table;
}

.napravlenietablelab{
border-bottom:solid 1px #ccc; 
padding-bottom:10px; 
margin-bottom:5px;
}

.napravlenietd1{
display:table-cell;
vertical-align:top;
padding-top:5px; 
padding-right:20px;
}

.napravlenietr2{
display:table-row;
}

.napravlenietd2{
display:none;
}

.tableformob1{
width:180px; 
padding-right:20px;
}

.tableformob2{
border-left:solid 1px #ccc; 
padding-left:20px;
}

.formobobram{
width:49.5%; 
float:left; 
}

.formobobramlast{
margin-left:1%;
}

.formob{
border:solid 1px #ccc; 
border-radius:5px; 
margin-bottom:20px; 
background:#f1f1f1;
}


.leftf0{
padding-left:20px;
}

.p10like{
	padding:10px;
}

.likedivactive{
	background:#ffffff;
}

.postsendwarning{
	display:none;
}

.tag{
	border:solid 1px #ccc; 
	border-radius:0px; 
	background:none;
    border-radius:5px;	
	float:right;
	padding:10px;
}

.tag2{
	background:#f1f1f1; 
	padding:10px; 
	margin-right:10;
}

.imgcity2{
	width:33px;
}

.taglast{
	margin-right:0;
}

.button4{
	background:#404040; 
	color:white; 
	text-align:center; 
	width:100%; 
	padding:20px; 
	border-radius:5px; 
	margin-top:20px;
}


.button4:hover{
	background:#ccc; 
	cursor:pointer;
}

.textarea1{
width:100%; 
min-width:100%; 
max-width:100%;
border:solid 1px #404040; 
border-radius: 5px;
padding:20px;
font-size:16px;
}


.formtd2{
	padding-bottom:10px;
	padding-left:10px;
}

.napravlenienaz{
	margin:0;
	padding:20px;
	text-align:center;
}

.headnap{
	background: #ffffff; 
	box-shadow: 0 0 5px rgba(0,0,0,0.2);  
	padding:20px; 
	border:solid 1px #ccc; 
	margin-top:20px; 
	margin-bottom:20px; 
	border-radius:5px;
}

.arrow7{
 content: '';
  border-left: 12px solid #ccc;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  margin-left:-5px;
}


.formobobramfirst{
margin-right:1%;
}


.dostege{
	margin-top:20px;
	padding:10px;
	background:#ffffff;
	border-radius:5px;
	border:solid 1px #ccc;
	color:black;
	float:left;
}

.dostege:hover{
	cursor:pointer;
}

.cellsort{
	width:350px; 
	padding-left:20px;
}	

.dodlist{
	width:32%; 
	height:300px; 
	float:left; 
	background:#ffffff; 
	border:solid 1px #ccc; 
	border-radius:5px; 
	box-shadow: 0 0 5px rgba(0,0,0,0.2);  
	margin-top:2%;
}

.dodlistmiddle{
	margin-left:2%; 
	margin-right:2%;
}

.clear3{
	clear:both;
}

.headdod{
	background:linear-gradient(to bottom, #E0E0E0, #f1f1f1); 
    border-top: dotted 4px #cccccc;
	padding:2%; 
}

.dodlistimg1{
	width:40px;
	margin-right:10px;
}
.dodlistimg2{
	width:20px;
	margin-right:10px;
}

.bookmark{
position:absolute; 
top:0; 
right:20px;
background:url(../zaklad/bookmark.png);
background-size: 100%;
width:32px;
height:32px;
}

.bookmark:hover{
background-size: 100%;
background:url(../zaklad/bookmark2.png);
}


.bookmarkactive{
background:url(../zaklad/bookmark2.png);
background-size: 100%;
}

.article{
width:32%;
height:0%;
margin-top:2%;
position:relative;
-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
border-radius:5px;
float:left;
border:none;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; 
	margin-right:2%;
}



.articleleft1{
	margin-right:0%;
}

.article:hover{
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; 
	cursor:pointer;
}



.inarticle{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.60);
color:white;
border-radius:5px;
border:none;
top:0;
}

.articletext{
	display:none;
}

.articlevalign{
	vertical-align:bottom;
}

.dateob{
	margin-top:5px;
}

.dateob .font2{
	background:#404040; 
	color:white; 
	padding-right:5px; 
	padding-left:5px;
}


.circusonram{
  width: 55px;
  height: 55px;
  position:relative;
  background:#f1f1f1;
  overflow:hidden;
  float:right;
border-radius:100%;


}

.circus{
  width: 100%;
  height: 100%;
  border:solid 2px #404040;
  border-radius: 300px;
}



.polcircus{
position:absolute;
height:0%;
width:50%;
background:#f1f1f1;
max-height:100%;
}

.polcircus2{
left:50%;
bottom:0;
}

.circustext{
position:absolute;
  width: 100%;
  height: 100%;
   text-align:center;
   z-index:99;
   border-radius:300px;
    border:solid 1px rgba(0,0,0,0.2);

}


.loading{
	display:none;
}



.link5{
padding:10px;
border-radius:5px;
background:#ccc;
color:black;
width:100%;
text-align:center;	
box-shadow: 0 0 5px rgba(0,0,0,0.2); 
}


.link5:hover{
cursor:pointer;
background:#404040;
color:white;
}


.link6{
padding:20px;
border-radius:5px;
background:#ccc;
color:black;
width:100%;
text-align:center;	
box-shadow: 0 0 5px rgba(0,0,0,0.2); 
}


.link6:hover{
cursor:pointer;
background:#404040;
color:white;
}


.midtd{
	padding-left:0px; 
	padding-right:0px;
}

.avatarask{
	background:#ffffff; 
	border:solid 1px #ccc; 
	border-radius:100%; 
	height:70px; 
	width:70px;
}


.avatarask img{
	width:30px;
}

.avatarask2{
	background:#ffffff; 
	border:solid 1px #ccc; 
	border-radius:100%; 
	height:50px; 
	width:50px;
}


.avatarask2 img{
	width:20px;
}

.button5{
margin-top:10px;
margin-right:10px;
float:left;
padding:5px;
padding-left:10px;
padding-right:10px;
border:solid 1px #ccc;
background:#ffffff;
border-radius:5px;
width:auto;
color:black;
text-align:left;
}

.button5:hover{
background:#ECECEC;
cursor:pointer;
}

.answ1{
	padding-top:20px;
	padding-left:40px;
}

.commentpad{
	width:100%;
	border-top:solid 1px #ccc;  
	padding-top:20px;  
	margin-top:20px;
}

.commentpad2{
	width:100%;
	border-bottom:solid 1px #ccc;  
	padding-bottom:20px;  
	margin-bottom:20px;
}

.nalt1{
	padding-left:10px;
	padding-top:0; 
	padding-bottom:0;
	padding-right:10px;
}

.nalt2{
	padding-left:10px;
	padding-top:0; 
	padding-bottom:0;
	padding-right:10px;
	border-left:solid 1px #ccc;
}


.cirdesc1-1{
	width:80px; 
	height:80px; 
	position:relative;
}

.cirdesc1-2{
	width:80px; 
	height:80px; 
	transform: rotate(-90deg);
}
.cirdesc1-3{
	fill:none; 
	stroke:#ccc; 
	transform: translate(5px, 5px); 
	stroke-width:4; 
	stroke-linecap:round; 
	stroke-dasharray: 0; 
	stroke-dashoffset:0;
}
.cirdesc1-4{
	fill:none; 
	stroke:#242934; 
	transform: translate(5px, 5px); 
	stroke-width:4; 
	stroke-linecap:round; 
	stroke-dasharray: 220;
}
.cirdesc1-5{
	position: absolute;
    left: 50%; 
	top: 50%; 
    transform: translate(-50%, -50%);
	z-index:2;
}


.cirmobile1-1{
	width:150px; 
	height:150px; 
	position:relative; 
}

.cirmobile1-2{
	width:150px; 
	height:150px; 
	transform: rotate(-90deg);
}

.cirmobile1-3{
	fill:none; 
	stroke:#ccc; 
	transform: translate(5px, 5px); 
	stroke-width:10; 
	stroke-linecap:round; 
	stroke-dasharray: 0; 
	stroke-dashoffset:0;
}

.cirmobile1-4{
	fill:none; 
	stroke:#404040; 
	transform: translate(5px, 5px); 
	stroke-width:10; 
	stroke-linecap:round; 
	stroke-dasharray: 440;
}

.cirmobile1-5{
	position: absolute;
    left: 50%; 
	top: 50%; 
    transform: translate(-50%, -50%);
	z-index:2;
}

	.paddopen{
	padding-left:40px; 
	padding-right:40px; 
	padding-top:0px; 
	padding-bottom:0px;
}

.vuzlogotop100{
	padding:10px; 
	background:#f1f1f1; 
	border:solid 1px #ccc; 
	border-radius:100px;
}

.vuzlogotop100 img{
	width:40px;
}

.popininside1{
	background:#f1f1f1; 
	border-radius:20px 0px 0px 20px; 
	overflow:hidden; 
	position:relative;
}

.w100{
	width:100%;
}

.r20{
	border-radius:20px;
}

.newcard{
	background:#ffffff; 
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
	width:100%; 
	margin-top:20px;
}


.circ5{
border:solid 1px #cccccc;
color:black;
border-radius:300px;
padding:10px;
position:relative;
width:55px;
height:55px;
text-align:center;
background:#ffffff;
}

.circ2unique{
background:#212934; 
border:solid 1px #212934; 
color:white;
}


	@media all and (max-width: 1420px) {

	
.cif{
float:none;
margin-top:20px;
width:1px;
}
	



	
	.maincontent{
width:100%;
}

.header-in{
width:100%;
}

.header-in2{
width:100%;
}
	
	
	.table-1{
display:block;
width:100%;
}

.table-row-1{
display:block;
width:100%;
}

.table-cell-1{
display:block;
width:100%;
}

.table-cell-1-1{
padding-right:0px;
}

.table-cell-1-2{
border-left:solid 0px #cccccc;
border-radius:0px;
}

.table-3{
display:table;
}

.table-row-3{
display:table-row;
}

.table-cell-3{
display:table-cell;
width:25%;
}


.dodlistmiddle{
	margin:0; 
}
	
.dodlist{
	width:48%; 
	margin:1%;
}

.clear2{
	clear:both;
}

.clear3{
	clear:none;
}

.headdod{
	padding:1%; 
}


	.article{
		width:49%;
		margin-right:0;
		margin-top:2%;
	}
	
	.articleleft1{
	margin-right:0%;
}
.articleleft2{
	margin-left:2%;
}

.articletext{
	display:block;
}

.articlevalign{
	vertical-align:middle;
}

.articlelast{
	display:none;
}

	
	}
	
@media all and (max-width: 1100px) {
	
.header{
background:#ffffff;
}	
	
.table-2{
display:block;
width:100%;
}

.table-row-2{
display:block;
width:100%;
}

.table-cell-2{
display:block;
width:100%;
}	

.table-cell-2-w200{
width:100%;
padding-left:0px;
}	

.napravleniedop{
display:none;
}	

.napravlenietd2{
padding-top:5px;
display:table-cell;
}




}

	@media all and (max-width: 1000px) {

	.popininside1{
	border-radius:40px; 
}	

.popupinmobpadd{
	padding:20px;
	padding-top:100px;
	padding-bottom:100px;
}

	.vuzlogotop100{
	padding:20px; 
	background:#f1f1f1; 
	border:solid 1px #ccc; 
	border-radius:100px;
}

.vuzlogotop100 img{
	width:80px;
}

.paddopen{
	padding-left:20px; 
	padding-right:20px; 
	padding-top:0px; 
	padding-bottom:0px;
}

.circusonram{
width: 140px;
height:140px;
  margin-top:10px;
  margin-bottom:10px;
}	

.circus{
  border:solid 4px #404040;
}

.circustext{
    border:solid 1px rgba(0,0,0,0.2);

}

.dateob{
	margin-top:10px;
}

.dateob .font2{
	padding-right:10px; 
	padding-left:10px;
}

.predocenka{
	padding-right:20px;
}
.ocenka{

padding-left:40px;
}	
	
.warning{
margin-top:20px;
}	

.paddright10m{
padding-right:20px;
}
	
.like{
margin-top:20px;
margin-right:20px;
border:solid 1px #ccc; 
}

.doverieline{
margin-top:40px;
}

.doverietd1{
min-width:180px;
}


.like:hover{
cursor:pointer;
background:#ffffff;
}

.likeimg{
margin-left:20px;
margin-right:20px;
width:40px;
}	



.napravlenietable,.napravlenietd1,.napravlenietd2,.napravlenietr2{
display:block;
width:100%;
}



.napravlenietd1,.napravlenietd2{
width:50%;
margin:0;
padding:0;
padding-top:20px;
float:left;
}



.napravlenietablelab{
border-bottom:solid 0px #ccc; 


}




	
.table-4{
display:block;
width:100%;
}

.table-row-4{
display:block;
width:100%;
}

.table-cell-4{
display:block;
width:100%;
}	
	
.circ2{
background:#f1f1f1;
width:140px;
height:140px;
}


.cirfloat:hover .circ2{
background:#f1f1f1;
border:solid 1px #ccc; 
color:black;
}


.vuzlistcontent .cirfloat{
margin-right:20px;
}





.circ4{
width:140px;
height:140px;
}

.popupin{
position:absolute; 
top:0%; 
bottom:0%; 
width:100%;
}

.popupcontent{
width:100%; 
}

#popupcontent7{
width:100%; 
}
	
.nonmobile,.arrow4,.menu{
display:none;
}	

.arrow5{
 content: '';
  border-left: 15px solid transparent;
  border-top: 15px solid #ffffff;
  border-right: 15px solid transparent;
  margin: 0 auto;
  margin-top:-5px;
}

.menu2{
border:none;
width:2400px; 
box-shadow: none;
}

.menubuttonin2{
text-align:left;
}


.menu{
width:100%; 
text-align:left; 
border-radius:0px;
background:none;
}	
	


.logo{
padding-top:80px; 
padding-left:40px; 
padding-bottom:70px;
width:500px;
}

.list{
display:block;
width:100px; 
float:right;
padding-right:40px; 
}


.menuobram{
padding:0px;
}



.menutr{
display:block;
width:100%;
}



.menubutton{
display:block;
width:100%;
background:#ffffff;
color:black;
border-bottom:solid 1px #ccc;
border-radius:0px;	
}

.menubutton:hover{
background:#ffffff;
}

.menubutton2{

border-bottom:solid 0px #404040;
border-top:solid 0px #404040;
border-right:solid 1px #404040;
}

.menubuttonactive2{
border-bottom:solid 0px #404040;
border-top:solid 0px #404040;
border-right:solid 1px #404040;
}




.menubuttonin{
color:black;
text-align:left;
}

.menubuttoninmob{
display:table-cell;
width:1px;
}

.menubuttonactive{
background:#f1f1f1;
}

.menubuttonactive .menubuttonin{
color:black;
}

.yesmobile1{
display:block;
}

.yesmobiletable{
display:table;
}	

.yesmobile2{
display:table-row;
}	

.yesmobile3{
display:table-cell;
}	
	
.cif{
width:100%;
margin-top:40px;
}	

.ciftext{
text-align:center; 
padding-left:0px;
}

.p10cif{
padding:10px;
}

.w25{
width:25%;
}
	
.vuzlistlogo{
width:120px;
height:120px;
}

.vuzlistlogo2{
width:280px;
height:280px;
}

.vuzlistlogoin{
width:120px;
height:120px;
text-align:center;
border:solid 0px #ccc;
border-radius:400px;
overflow:hidden;
border-radius:0;
}

.vuzlistlogoin2{
width:280px;
height:280px;
text-align:center;
border:solid 1px #ccc;
border-radius:400px;
overflow:hidden;
}

.vuzlistimg{
width:120px;
}

.vuzlistimg2{
width:180px;
}

.vuzlistcontent{
padding-left:40px;
vertical-align:top;
}	
	
.search{
padding:30px;
width:100%;
font-size:42px;
}	


.searchtable{
width:100%; 
background:#ffffff; 
margin-top:40px;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
border-radius:5px;
}

.searchtable img{
padding-left:40px; 
padding-right:40px;
width:50px;
}

.font0{
font-size:22px;
}
	
.font1{
font-size:33px;
}

.font11{
font-size:36px;
}


.font2{
font-size:38px;
}

.font3{
font-size:44px;

}

.font4{
font-size:48px;
}

.font4m{
font-size:54px;
padding-top:20px;
padding-bottom:20px;
}

.font5{
font-size:54px;
}


.p10{
padding:20px;
}	

.p10lm{
	padding:30px;
}	

.specshnum{
padding-right:0px;
}


.p20{
padding:40px;
}

.p20menu2{
padding:40px;
padding-top:40px;
padding-bottom:40px;
}

.p30{
padding:60px;
}	

.pm20{
padding:20px;
padding-top:40px;
padding-bottom:40px;
}

.p40{
padding:80px;
}	

.pm40{
padding:40px;
padding-top:80px;
padding-bottom:80px;
}	
	
.mobpadd20{
padding:40px;
padding-bottom:0px;
}	

.mobpadd20-2{
padding:20px;
padding-bottom:10px;
}	

.mobpadd20-3{
padding-top:20px;
padding-bottom:20px;
}

.mobpadd0{
padding:0px;
}	



.right10{
padding-right:20px;
}

.ocenkatable{ 
width:100%;
margin-top:40px;
}

.dopmobile1{
width:100%;
background:#ffffff;
color:black;
margin-top:20px;
margin-right:40px;
padding:30px;
border-radius:10px;
box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.dopmobile1 .img1 {
display:block;
}

.dopmobile1 .dop{
display:none;
}


.button1{
margin-top:40px;
margin-right:40px;
padding:30px;
border-radius:10px;
box-shadow: 0 0 20px rgba(0,0,0,0.5);
}


.button2{
margin-top:40px;
margin-left:40px;
padding:20px;
border-radius:10px;
box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.button3{
float:none;
padding:30px;
border-radius:10px;
box-shadow: 0 0 20px rgba(0,0,0,0.5);
width:100%;
margin:0px;
margin-top:30px;;
}



.button3 input{
padding:20px;
font-size:42px;
border:solid 1px #404040;
width:300px;
}

.egetd2{
padding-top:0px;
}

.img1{
margin-left:20px;
width:60px;
}

.img2{
margin-left:20px;
width:60px;
}

.img3{
margin-right:20px;
width:60px;
}

.img4{
margin-right:40px;
width:60px;
}

.img5{
margin:20px;
margin-right:0px;
width:60px;
}

.img6{
width:60px;
margin-right:20px;
}

.img7{
	width:100px;
}

.close1{
width:60px; 
position:absolute; 
right:30px; 
top:30px;
}

.imgcity{
float:none; 
padding:0; 
margin: 0 auto;
}


.smile{
width:50px;
}

.check1{
width:40px;
}

.go{
margin-left:20px;
width:60px;
}

.go2{
width:60px;
margin-top:-30px; 
}

.vuzlist{
margin-top:0px; 
box-shadow: 0 0 10px rgba(0,0,0,0.3);
border-radius:20px;
}
	
.maincontent{
width:100%;
display:block;
padding-top:0px;
}	

.m270{
margin-right:0px;
}
	
.advtd{
display:none;
}

.dopheaderin{
display:none;
}

.content{
padding-left:0px;
display:block;
}



	.onoff{
border-radius:20px;
height:30px; 
width:100px;
margin-left:20px;
}

.cir{
border-radius:50px; 
height:50px; 
width:50px; 
margin-top:-10px; 
margin-left:6px;
}


.on{
margin-left:44px;
}	


.link1{
padding:20px; 
margin-right:20px; 
margin-bottom:20px; 
}


.link2{
padding:20px; 
margin-top:40px;
}


.link3{
padding:20px; 
margin-right:20px; 
margin-bottom:20px; 
}

.link6{
margin-top:40px;
padding:40px;
}
	
.more img{
width:120px;
margin-bottom:20px;
}

.loader1 img{
width:120px;
margin-bottom:20px;
}
	
	
.arrow2{
 content: '';
  border-left: 30px solid transparent;
  border-top: 30px solid #212934;
  border-right: 30px solid transparent;
  margin: 0 auto;
  margin-top:-1px;
}	


.carousel{
width:100%; 
 margin-bottom:-1px; 
 border-top:solid 1px #404040;
background:#404040;
  overflow-x: scroll;
  overflow-y: visible;


-webkit-overflow-scrolling: touch;


}

	.carousel::-webkit-scrollbar{
	width:0px;
	height:0px;
	}

	
.formob{
margin-bottom:40px; 
border-radius:10px; 
}	

.formobobram{
width:100%; 
float:none; 
margin:0;
}

.formobobramlast{
margin-left:0;
}
	
.tableformob1{
width:100%; 
padding-right:0px;
padding-bottom:40px;
}

.tableformob2{
border-left:solid 0px #ccc; 
border-top:solid 1px #ccc; 
padding-left:0px;
padding-top:20px;
}

.leftf0{
padding-left:10px;
}

.w100mobile{
width:100%;
}

.mobpadd10{
padding:20px;	
}

.p10like{
	padding:30px;
}

.tag{
	margin-top:20px;
	float:none;
	border:solid 0px #ccc; 
	padding:0;
}

.tag2{
	background:#f1f1f1; 
	padding:20px; 
	margin-right:20;
}

.imgcity2{
	width:80px;
}

.taglast{
	margin-right:0;
}

.button4{
	padding:40px; 
	margin-top:40px;
}

.textarea1{
border-radius: 10px;
padding:40px;
font-size:42px;
}

.cellsort{
	width:100%; 
	padding-left:0px;
	padding-top:40px;
}	

.dostege{
float:none;
margin-top:20px;
margin-right:40px;
padding:30px;
border-radius:10px;
box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.formtd1{
	padding-bottom:20px;
}

.formtd2{
	padding-bottom:20px;
	padding-left:20px;
}

.t10{
	margin-top:20px;
}


.arrow7{
 content: '';
  border-left: 20px solid #ccc;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  margin-left:-5px;
}

.napravlenienaz{
	margin-bottom:20px;
	padding:40px;
	border-bottom:solid 1px #ccc;
}

.headnap{
	box-shadow: none;  
	margin-top:20px; 
	margin-bottom:20px; 
	border-radius:0px;
	padding:20px;
}
	
	.dodlist{
	width:100%; 
	margin:0;
	margin-bottom:40px;
	border-radius:10px; 
}

.headdod{
	padding:40px; 
}

.dodlistimg1{
	width:100px;
	margin-right:20px;
}
.dodlistimg2{
	width:50px;
	margin-right:20px;
}	

h1{
padding-bottom:20px;
font-weight:bold;
}

.specshactive{
border-radius:10px;
}

.more{
margin-bottom:40px;
}
	
.bookmark{
right:60px;	
top:20px; 	
background:url(../zaklad/bookmark.png);
background-size: 100%;
width:70px;
height:70px;
}

.bookmark:hover{
background:url(../zaklad/bookmark2.png);
background-size: 100%;
}

.bookmarkactive{
background:url(../zaklad/bookmark2.png);
background-size: 100%;
}	

.circ3 img{
width:50px;
padding:10px;
}



.article{
width:100%;
height:0%;
margin:0%;
position:relative;
border-radius:10px;
float:none;
}


.inarticle{
border-radius:10px;
}

.articleleft1{
	margin-right:0%;
}

.articleleft2{
	margin-left:0%;
}

.pm40art{
	padding:40px;
	padding-bottom:0; 
	
}


.cirfloat2{
margin-left:20px;
}

.circ3:hover .dopinfocirc3{
display:none;
}

.link5{

padding:40px;
}



.button5{
margin-top:20px;
margin-right:20px;
padding:10px;
padding-left:20px;
padding-right:20px;
border-radius:10px;
}

.avatarask{
	height:140px; 
	width:140px;
}

.cirfloatalt{
	margin-top:10px;
	margin-right:0px;
}


.avatarask img{
	width:60px;
}

.avatarask2{
	height:100px; 
	width:100px;
}


.avatarask2 img{
	width:40px;
}

.commentpad{
	padding-top:40px;  
	margin-top:40px;
}

.commentpad2{
	padding-bottom:40px;  
	margin-bottom:40px;
}

.answ1{
	padding:40px;
	padding-bottom:0px;
}


.dopvuzlist{
margin-top:-15px;
border-radius:0px 0px 20px 20px; 
overflow:hidden;
}

.cirfloat:hover .dopinfo{
display:none;
}

.nalt1{
	padding-left:20px;
	padding-top:0; 
	padding-bottom:0;
	padding-right:20px;
}

.nalt2{
	padding-left:20px;
	padding-top:0; 
	padding-bottom:0;
	padding-right:20px;
}

.reknotice{
display:none;
}
	

.r20{
	border-radius:40px;
}

.p5{
	padding:10px;
}

.circ5{
width:100px;
height:100px;
}

.mobpaddcard{
	padding-left:40px; 
	padding-right:40px;
}

.newcard{
	margin-top:40px;
}

.bookmark2{
right:20px;	
top:0px; 
}
	
	
}
